fastapi==0.111.0
uvicorn[standard]==0.29.0
pandas==2.2.2
numpy==1.26.4
scikit-learn==1.4.2
xgboost==2.0.3
tensorflow==2.16.1
mapie==0.8.3
pyarrow==16.0.0
fastparquet==2024.2.0
joblib==1.4.0
python-multipart==0.0.9
pydantic==2.7.1
python-dotenv==1.0.1
